<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Pré-visualização</title>
</head>
<body>
 <h2>Visualizar conteúdo</h2>
<pre>{{ conteudo }}</pre>

<form method="POST" action="/tarjar_txt_final">
    {% for padrao in padroes %}
        <label><input type="checkbox" name="itens" value="{{ padrao }}">{{ padrao }}</label><br>
    {% endfor %}
    <input type="hidden" name="conteudo" value="{{ conteudo | tojson | safe }}">
    <button type="submit">Tarjar e Baixar</button>
</form>

</body>
</html>
